# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [53]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [54]:
sal=pd.read_csv("C:\\Users\\Lenovo\\Desktop\\jupyter notebook\\dataset\\Salaries.csv")
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [55]:
#checking the head of dataset upto 10 rows
check_head=sal.head(10)
check_head

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [56]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [57]:
average_base_pay = sal["BasePay"].mean()
print("Average Base Pay")
average_base_pay

Average Base Pay

np.float64(66325.4488404877)

** What is the highest amount of OvertimePay in the dataset ? **

In [14]:
highest_overtime_pay_amount=sal["OvertimePay"].max()
print("Highest Amount Of OvertimePay ")
highest_overtime_pay_amount

Highest Amount Of OvertimePay

np.float64(245131.88)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [58]:
JOSEPH_DRISCOLL_job_title=sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]
#for exactly printing the Job title
print("Job Title Of JOSEPH_DRISCOLL")
JOSEPH_DRISCOLL_job_title.values[0]

Job Title Of JOSEPH_DRISCOLL

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [59]:
JOSEPH_DRISCOLL_total_amount_make=sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]
print(" JOSEPH DRISCOLL salary amount(including benefits)")
JOSEPH_DRISCOLL_total_amount_make.values[0]

 JOSEPH DRISCOLL salary amount(including benefits)

np.float64(270324.91)

** What is the name of highest paid person (including benefits)?**

In [62]:
#this will return the index in dataset where TotalPay with Benefits is maximum
highest_paid_person_index= sal["TotalPayBenefits"].idxmax()
print("Highest paid person (including benefits):")
#this will return the name of Employee who have maximum TotalPayBenefit
print(sal.loc[highest_paid_person_index, "EmployeeName"])

Highest paid person (including benefits):
NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [63]:
#this will return the index in dataset where TotalPay with Benefits is minimum
lowest_paid_person_index= sal["TotalPayBenefits"].idxmin()
print("Lowest paid person (including benefits):")
#this will return the name of Employee who have minimum TotalPayBenefit
print(sal.loc[lowest_paid_person_index,"EmployeeName"])

Lowest paid person (including benefits):
Joe Lopez

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [64]:
#groupung the data in the basis of year
group_by_year=sal.groupby("Year")
#printing the mean of average BasePay on group_by_year
print("average BasePay of all employees per year")
print(group_by_year["BasePay"].mean())

average BasePay of all employees per year
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [65]:
#finding number of unique job titles from the dataset.
num_unique_job_titles = sal["JobTitle"].nunique()
print("Number of unique job titles:", num_unique_job_titles)

Number of unique job titles: 2159

** What are the top 5 most common jobs? **

In [66]:
#By using Pivot table finding the counts of most comman job
job_title_counts = sal.pivot_table(index="JobTitle",aggfunc="size")
#Extracting the data of job titles having largest size(most comman job)
top_5_comman_jobs = job_title_counts.nlargest(5)
print("Top 5 most common job titles:\n",top_5_comman_jobs )

Top 5 most common job titles:
 JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [67]:
#getting the data of group 2013
data_2013 = group_by_year.get_group(2013)
#counting the values of Job title of particular job
job_title_counts_2013 = data_2013['JobTitle'].value_counts()
#Extracting the job title whose count or occurence in dataset is only 1.
single_occurrence_titles = job_title_counts_2013[job_title_counts_2013 == 1]
print("Job Titles with only one occurence in 2013\n",single_occurrence_titles)
print("\n\nNumber of Job title with single occurence : ",len(single_occurrence_titles))

Job Titles with only one occurence in 2013
 JobTitle
City Attorney                    1
PrDAInvest,SpecUnit (SFERS)      1
Mgr Museum Security Services     1
Sctry, Human Svcs. Commission    1
IS Operator-Analyst              1
                                ..
Head Photographer                1
Chief of Police                  1
Animal Control Supervisor        1
Special Assistant 14             1
Senior Assessment Clerk          1
Name: count, Length: 202, dtype: int64


Number of Job title with single occurence :  202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [68]:
#Extracting the data form sal dataset which contains Cheif as substring in Jobtitle which are not case sensistive of na value should be neglected
chief_named_job_titles = sal[sal["JobTitle"].str.contains("Chief", case=False, na=False)]
chief_named_job_titles

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,NaN
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,NaN
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,NaN
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,NaN
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,NaN

In [69]:
#returning the length of chief_named_job_titles
print("The Number of people having the word Cheif in their job Title ",len(chief_named_job_titles))

The Number of people having the word Cheif in their job Title  627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [70]:
#this add the new column to dataset named JobTitleLength having the length of JobTile String of each row.
sal['JobTitleLength'] = sal['JobTitle'].apply(len)
print("The sal dataset with JobTitleLength column")
sal

The sal dataset with JobTitleLength column

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,JobTitleLength
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN,9
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,26

In [71]:
correlation = sal['JobTitleLength'].corr(sal['TotalPayBenefits'])
print("The correlation between JobTitleLength and Salary(TotalPayBenefits) is",correlation)
if abs(correlation) > 0.5:
    print("There is a strong correlation between JobTitleLength and Salary(TotalPayBenefits).")
elif abs(correlation) > 0.3:
    print("There is a moderate correlation between JobTitleLength and Salary(TotalPayBenefits)")
else:
    print("There is a weak or no correlation between JobTitleLength and Salary(TotalPayBenefits)")

The correlation between JobTitleLength and Salary(TotalPayBenefits) is -0.03687844593260675
There is a weak or no correlation between JobTitleLength and Salary(TotalPayBenefits)

# Great Job!